$brand-color: #16A085;
$brand-color-op8: rgba(22, 160, 133, 0.8);
$white-color: #FFFFFF;
$white-color-op6: rgba(255, 255, 255, 0.6);
$dark-color-lite: rgba(0, 0, 0, 0.125);
$blue-color: #014c8c;
$red-color: #C9625F;