<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Card Layouts</title>
		<link rel="stylesheet" href="">
		<style>
			* {
				box-sizing: border-box;
			}
			body {
				background: #34e678;
			}
			.card-list {
				display: inline-block;
				list-style-type: none;
			}

			.card {
				background: #ffffff;
				padding: 5px;
				margin: 5px;
			}
		</style>
	</head>
	<body>
		<header>
			
		</header>
		<section>
			<ul>
				<li class="card-list">
					<div class="card">
						<div class="card_title">
							<h1>Our header 1</h1>
						</div>
						<figure class="card_body">
							<img src="assets/img/background/rectangle-3-copy-2.png" alt="">
							<figcaption></figcaption>
						</figure>
					</div>
				</li>
				<li class="card-list">
					<div class="card">
						<div class="card_title">
							<h1>Our Header 2</h1>
						</div>
						<figure class="card_body">
							<img src="assets/img/background/rectangle-3-copy-2.png" alt="">
							<figcaption></figcaption>
						</figure>
					</div>
				</li>
				<li class="card-list">
					<div class="card">
						<div class="card_title">
							<h1>Our Header 3</h1>
						</div>
						<figure class="card_body">
							<img src="assets/img/background/rectangle-3-copy-2.png" alt="">
							<figcaption></figcaption>
						</figure>
					</div>
				</li>
			</ul>
		</section>
		<footer>
			
		</footer>
	</body>
</html>